################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Github/v17/.suo
/.vs/Github/v17/Browse.VC.opendb
/.vs/Github/v17/Browse.VC.db-wal
/.vs/Github/v17/Browse.VC.db-shm
/.vs/Github/v17/Browse.VC.db
/.vs/Github/v17
